footer {
  background-color: #0d4d0f;
  color: white;
  padding: 0.0rem 1rem;
  display: flex;
  justify-content: space-between; 
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: white;
}

.report-issue-link {
  padding-right: 0.5rem; 
}

footer a:hover {
  color: white;
  background-color: black;
}