.header-body {
  background-color: #0d4d0f;
  color: white;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  font-weight: bold;
  top: 0;
  left: 0;
  right: 0;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: blue;
}

.logout-text {
  cursor: pointer;
  color: #fff;
  margin: 0 15px;
  transition: background-color 0.3s; /* Add transition for smooth color change */
}

.logout-text:hover {
  color: blue;
}

.user-info {
  margin-right: 15px; /* Adjust spacing as needed */
  color: white; /* Set initial color */
}

.user-info:hover {
  color: blue; /* Change color on hover */
}
