.header-body {
  background-color: #0d4d0f;
  color: white;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  font-weight: bold;
  top: 0;
  left: 0;
  right: 0;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  font-weight: bold;
}

.logout-button {
  background: lightgreen;
  border: solid 1px lightgreen;
  color: black;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  font-size: inherit;
  margin-right: 20px;
  font-weight: bold;
}
.logout-button:hover {
  color: white;
  background-color: black;
}

.cwaitlist-button {
  background: lightgreen;
  border: solid 1px lightgreen;
  color: black;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  font-size: inherit;
  margin-right: 30px;
  margin-left: -20px;
  font-weight: bold;
}
.cwaitlist-button:hover, .adminBtn:hover, .modBtn:hover, nav a:hover {
  color: white;
  background-color: black;
}

.adminBtn, .modBtn {
  margin-left: -1010px;
}

.greeting {
  margin-right: 10px;
}
